.image_connexion {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    object-fit: cover;
    margin-right: 8px;
    vertical-align: middle;
}

.image_vol {
    width: 100%;
    height: 500px;
    filter: brightness(0.6);
    position: relative;
}

.image_text {
    position: relative;
    text-align: center;
    color: white;
}

.text_overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
}

.text_overlay h1 {
    font-size: 50px;
    margin: 0;
}

.text_overlay p {
    font-size: 30px;
    margin: 0;
}

.form-container {
    width: 500px;
    margin: 0 auto;
    border: 1px solid #ccc;
    padding: 20px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="date"],
select {
    width: 15%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.flex-row {
    display: flex;
    align-items: center; /* Aligne verticalement les éléments */
    /* Centre les éléments sur la ligne */
    margin: 0 auto; /* Centre horizontalement le conteneur */
    padding-left: 150px;
    
}

.flex-row1 {
    display: flex;
    align-items: center; /* Aligne verticalement les éléments */
    /* Centre les éléments sur la ligne */
    margin: 0 auto; /* Centre horizontalement le conteneur */
    padding-left: 180px;
}

.flex-row > * { /* Tous les éléments du conteneur .flex-row */
    margin: 0 10px; /* Espace entre chaque élément */
}

.container {
    display: flex;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 2em;
}

.line {
    border-bottom: 1px solid black;
    flex-grow: 1;
}

.text {
    font-size: 80px;
    margin: 0 10px;
    white-space: nowrap;
    font-family: Brush Script MT, Brush Script Std, cursive;
}

.image-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px; /* Espace entre les images */
}

.image {
    width: 100%; /* Ajuster la largeur selon le besoin */
    height: auto;
    border-radius: 25px;
}

.image-wrapper {
    position: relative; /* Conteneur pour positionner le texte */
    width: 55%; /* Ajuster la largeur selon le besoin */
}

.image1 {
    width: 100%; /* Ajuster la largeur selon le besoin */
    height: auto;
    border-radius: 25px;
}

.image-wrapper1 {
    position: relative; /* Conteneur pour positionner le texte */
    width: 55%; /* Ajuster la largeur selon le besoin */
}

.image2 {
    width: 100%; /* Ajuster la largeur selon le besoin */
    height: auto;
    border-radius: 25px;
}

.image-wrapper2 {
    position: relative; /* Conteneur pour positionner le texte */
    width: 63%; /* Ajuster la largeur selon le besoin */
}

.image-text {
    position: absolute;
    top: 10px; /* Ajuster la position selon le besoin */
    left: 10px; /* Ajuster la position selon le besoin */
    color: white;
    font-size: 1.2em;
    background-color: rgba(0, 0, 0, 0.5); /* Fond semi-transparent pour une meilleure lisibilité */
    padding: 5px; /* Ajouter un peu de padding autour du texte */
    border-radius: 5px; /* Ajouter des coins arrondis au fond du texte */
}

.text-center {
    text-align: center;
}

.text-center h2 {
    font-size: 35px;
    color: #333;
    font-family: Brush Script MT, Brush Script Std, cursive;
}